.container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  max-width: 1100px;
  margin: auto;
}

.container > * {
  height: 250px;
  /* max-width: 40%; */
  /* flex-grow: 1;
  flex-basis: auto; */
  object-fit: cover;
}

.container > .landscape {
  flex: 1;
}

/* .container > *:last-child {
  flex-grow: 0;
} */
