* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: rgba(50, 50, 50, 0.6);
  padding: 0.5em;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(4px);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:not(:last-child) {
  margin-right: 2em;
}
